<div class="row">
  <div class="col-xs-12 col-md-12">
      <div class="form-group label-floating">
        <label for="address" class="col-sm-2 control-label">Address </label>
        <div class="col-sm-12">
            <input [(ngModel)]="domain" name="address" id="address" class="form-control"/>
        </div>
      </div>

      <button class="btn btn-primary" (click)="searchDomain()">Locate</button>
      <button class="btn btn-info" (click)="searchDomain('')">My Location</button>
  </div>
</div>

<div class="row">
  <div *ngIf="domainData">
      <div class="col-xs-12 col-md-6">
        <app-domain-detail [domainData]="domainData"></app-domain-detail>
      </div>
      <div class="col-xs-12 col-md-6">
        <app-map [domainData]="domainData"></app-map>
      </div>
    </div>
</div>
